APP_ENV=production

POSTGRES_USER=postgresroot
POSTGRES_PASSWORD=""
POSTGRES_DB=shepherd
POSTGRES_PORT=5432

POSTGRES_USER_PROD=${POSTGRES_USER}
POSTGRES_DB_PROD=${POSTGRES_DB}
POSTGRES_PORT_PROD=${POSTGRES_PORT}

PG_APP_USER=shepherdapp
PG_APP_PASSWORD=StrongPw412365

REDIS_PORT_PROD=6379

BACKEND_PORT_PROD=8000
FRONTEND_HTTP_PORT=8080

KEYCLOAK_ADMIN_USERNAME_PROD=admin
KEYCLOAK_HOSTNAME_PROD=https://auth.example.com
KEYCLOAK_ISSUER_URL_PROD=https://auth.example.com/realms/shepherd
OAUTH2_PROXY_CLIENT_ID_PROD=shepherd-web
OAUTH2_PROXY_REDIRECT_URL_PROD=https://erp.example.com/oauth2/callback

SVR_SECRETS_DIR=/etc/shepherd/secrets

COMPOSE_FILE=compose.yaml:compose.prod.yaml
